.login {
    
    .login-container {
        background-color:  $color--primary;
        padding-top: 60px;
        width:100%;
        height:100vh;
        @include transition(width 500ms cubic-bezier(.2,.11,.09,1) 700ms);

        &.sizeDown {
            width: $navbar-width;
        }
    }

    .login-wrapper {  
        @include opacity(1);
        @include transform(scale(1));
        @include transition(all 250ms cubic-bezier(.98,.01,.15,1.32));

        &.fadeOut {
            @include transform(scale(.9));
            @include opacity(0);
        }
    }

    .heading { 
        display: block;
        width: 320px;
        margin: 0 auto 50px auto;

        .logo {
            display: block;
            width: 100px;
            margin: 0 auto;
        }
        .title {
            display: block;
            width: 100%;
            text-align: center;

            h1 {
                color: $color--white;
            }
        }
    }

    .login-pane {
        display:block;
        width: 400px;
        padding: 50px;
        margin: 0 auto;
        background-color: $color--white;
        @include border-radius(3px);
        @include box-shadow( 0px 10px 10px rgba(0, 0, 0, 0.1));

        &.wrong-input {
            backface-visibility: hidden;
            perspective: 1000px;
            @include animation('shake 600ms linear both');
            @include transform(translate3d(0, 0, 0));
            @include keyframes(shake) {
                10%, 90% {
                    transform: translate3d(-1px, 0, 0);
                }
                20%, 80% {
                    transform: translate3d(2px, 0, 0);
                }
                30%, 50%, 70% {
                    transform: translate3d(-4px, 0, 0);
                }
                40%, 60% {
                    transform: translate3d(4px, 0, 0);
                }
            }

            input {
                border-color: $color--danger;
            }
        }

        h4 {
            margin-bottom: 50px;
            text-align: center;
        }

        form {
            margin: 0;
            text-align: center;
        }

        

        button {
            width:100%;
            margin-top: $margin*2;
        }

        a {
            display: inline-block;
            text-align: center;
            margin-top: 30px;
        }
        
    }

    .forgot-password {
        display: block;
        width: 400px;
        margin: 50px auto 0 auto;
        text-align: center;

        a{
            color: $color--white;
        }
    }
}
