
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    min-width: 768px;
}

button.btn-loader {
    position: relative;
    overflow: hidden;
    
    &:before {
        content: "";
        position: absolute;
        right:10px;
        margin-top:-10px;
        top:50%;
        width:20px;
        height: 20px;
        border-top: solid 2px $color--white;
        border-right: solid 2px $color--white;
        border-bottom: solid 2px transparent;
        border-left: solid 2px transparent;
        z-index:2;
        @include border-radius(100%);
        @include opacity(0);
        @include transition(opacity 150ms ease-in-out);
        @include animation('spin 300ms infinite linear');
    }
    &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 50px;
        z-index:1;
        background-color: $color--primary;
        @include opacity(0);
        @include transition(opacity 150ms ease-in-out);
        @include box-shadow(-10px 0 15px $color--primary);
    }
    &.loading {
        &:before,
        &:after {
            @include opacity(1);
        }
    }
    @include keyframes(spin) {
        from {@include transform(rotate(0deg))}
        to {@include transform(rotate(360deg))}
    }
}


.loaded-content {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    overflow: auto;
    @include opacity(0);
    @include transition(opacity 150ms ease-in 200ms);

    &.show {
        @include opacity(1); 
    }
}

.placeholder {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color--white;
    z-index: 9999;
    @include opacity(1);
    @include transition(opacity 100ms ease);

    &.fade {
        @include opacity(0);
    }
    .nav-placeholder {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: $navbar-width;
        background-color: $color--primary;

        .left {
            float: left;
            width: 70px;
            height: 100vh;
            padding: $margin*2 $margin; 

            .item {
                float:left;
                width:30px;
                height:30px;
                margin-left:5px;
                background-color: rgba(255,255,255, 0.1);
                margin-top:5px;
                margin-bottom: 12.5px;
                @include border-radius(100%);

                &.head {
                    margin-bottom: $margin;
                    background-color: rgba(255,255,255, 0.25);
                    width:40px;
                    height:40px;
                    margin-left:0;
                    margin-top: 0;
                }
            }
        }
        .right {
            float: left;
            width: calc(100% - 70px);
            height: 100vh;
            padding: $margin*2; 

            .item {

                position:relative;
                float:left;
                width:calc(80% - 45px);
                height:15px;
                background-color: rgba(255,255,255, 0.1);
                margin-left: 45px;
                margin-bottom: 25px;
                @include border-radius(3px);

                &:before {
                    content:"";
                    position:absolute;
                    width:20px;
                    height:20px;
                    left:-45px;
                    top:-2.5px;
                    margin-right:25px;
                    background-color: rgba(255,255,255, 0.1);
                    
                    @include border-radius(100%);
                }

                &.head {
                    margin-bottom: 30px;
                    width:100%;
                    height:40px;
                    background-color: rgba(255,255,255, 0.25);
                    margin-left: 0;
                    &:before {
                        display: none;
                    }
                }
            }
        }   
        
    }
    .content-placeholder {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: $navbar-width;
        background-color: $color--white;
        padding:$margin*2;
        
        .item {
            float:left;
            width: 200px;
            height: 40px;
            background-color: rgba(0,0,0, 0.15);
            @include border-radius(2px);
        }
    }
}