$color--primary: #007bff;
$color--white: #ffffff;
$color--black: #000000;
$color--success: #7bff00;
$color--warning: #ff8400;
$color--danger: #ff0500;
$color--lightBG: #f1f1f1;
$color--darkBG: #444444;

$navbar-width: 320px;
$margin: 15px;

$font-family: 'Raleway', sans-serif;

