form {
    &[data-xhr-post] {
        @include opacity(1);
        @include transition(opacity 1000ms ease-in-out);

        &.invisible {
            @include opacity(0);

            &.hide {
                display: none;
            }
        }
    }
}

.grouped-input {
    float:left;
    width: 100%;
    position: relative;
    min-height:60px;
    margin-bottom:$margin;
    background-color: $color--white;

    span {
        position: absolute;
        left:0;
        right:0;
        width:100%;
        padding-left:15px;
        top:18px;
        text-align: left;
        z-index:10;
        color:grey;
        font-size:16px;
        @include transition(all 0.1s ease);
    }

    input,
    select {
        float:left;
        width:100%;
        padding-top:20px;
        padding-bottom:10px;
        height:60px;
        background-color: transparent;
        position: relative;
        z-index:20;

        &:focus, 
        &.val-exists{
            background-color: transparent;

            + span {
                top:5px;
                padding-left:13px;
                font-size:10px;
                z-index:30;
            }
        } 
    }

    
    &.owldtr-success {
        input, select {
            border-color: $color--success;
        }
        .owldtr-msg {
            color: $color--success;
        }
    }
    &.owldtr-danger {
        input, select {
            border-color: $color--danger;
        }
        .owldtr-msg {
            color: $color--danger
        }
    }

    .owldtr-msg {
        position: absolute;
        top:5px;
        font-size:10px;
        z-index:30;
        right:5px;
        text-align: right;
    }

    &[data-validation] {
        @include transition(all 100ms ease-in-out);
        &:before {
            content: attr(data-validation-msg);
            position: absolute;
            top:5px;
            padding-right:5px;
            font-size:10px;
            z-index:30;
            right:0;
            padding-left:15px;
            text-align: right;
            color:white;
        }

        &.danger {
            input, select {
                border-color: $color--danger;
            }
            &:before {
                color: $color--danger;
            }
        }
        &.warning {
            input, select {
                border-color: $color--warning;
            }
            &:before {
                color: $color--warning;
            }
        }
        &.success {
            input, select {
                border-color: $color--success;
            }
            &:before {
                color: $color--success;
            }
        }
    }
}