
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    min-width: 320px;
}

.hidden {
    display: none;
}

.page-wrapper {
    @include opacity(1);
    @include transition(opacity 150ms ease-in 200ms);
    position:relative;
    z-index:10;

    &.hide {
        @include opacity(0);
        position:initial;
        z-index:0;
    }
}

.small-form {
    display: block;
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
}

// button loader styling
button.btn-loader {
    position: relative;
    overflow: hidden;

    &:before {
        content: "";
        position: absolute;
        right:0;
        left: 0;
        margin: -10px auto 0 auto;
        top:50%;
        width:20px;
        height: 20px;
        border-top: solid 2px $color--white;
        border-right: solid 2px $color--white;
        border-bottom: solid 2px transparent;
        border-left: solid 2px transparent;
        z-index:2;
        @include border-radius(100%);
        @include opacity(0);
        @include transition(opacity 100ms ease-in-out);
        @include animation('spin 300ms infinite linear');
    }
    &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        z-index:1;
        background-color: $color--primary;
        @include opacity(0);
        @include transition(opacity 100ms ease-in-out);
        @include box-shadow(-10px 0 15px $color--primary);
    }
    &.disabled {
        pointer-events: none;
        @include opacity(.7);
    }
    &.loading {
        &:before,
        &:after {
            @include opacity(1);
        }
    }
    @include keyframes(spin) {
        from {@include transform(rotate(0deg))}
        to {@include transform(rotate(360deg))}
    }
}


.loaded-content {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    overflow: auto;
    @include opacity(0);
    @include transition(opacity 150ms ease-in 200ms);

    &.show {
        @include opacity(1); 
    }
}

// content loader:
.loader-wrapper {
    position: fixed;
    right:0;
    bottom:0;
    background-color:$color--white;
    top:$navbar-mobile-height;
    z-index:100; 
    left:$navbar-width-s;
    display: none;


    &.content-loader {
        //@include transition(left 220ms $menu-transition 50ms);
        &.toFullWidth {
            left: 0;

            @media #{$mq-m} {
                left:$navbar-width-l;
            }
        }
    }
    
    @media #{$mq-m} {  
        top:0;
        left:$navbar-width-l;
    }

    .spinner-loader {
        position: absolute;
        right:0;
        left:0;
        margin:0 auto;
        width:64px;
        top:50%;
        @include transform(translateY(-50%));
        
        .lds-ring {
            display: inline-block;
            position: relative;
            width: 64px;
            height: 64px;

            div {
                box-sizing: border-box;
                display: block;
                position: absolute;
                width: 51px;
                height: 51px;
                margin: 6px;
                border: 3px solid $color--primary;
                border-radius: 50%;
                animation: lds-ring .6s cubic-bezier(0.5, 0, 0.5, 1) infinite;
                border-color: $color--primary transparent transparent transparent;

                &:nth-child(1) {
                    animation-delay: -0.225s;
                }
                &:nth-child(2) {
                    animation-delay: -0.15s;
                }
                &:nth-child(3) {
                    animation-delay: -0.075s;
                }
            }

            @keyframes lds-ring {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
        }
    }

    &.menu-loader {
        position: absolute;
        background-color: transparent;
        top:0;
        left: 70px;

        .spinner-loader {
            .lds-ring {
                div{
                    border-color: $color--primary-light transparent transparent transparent;
                }
            }
        }
    }
}

// placeholder styling
.grouped-input {
    float:left;
    width: 100%;
    position: relative;
    height:60px;
    margin-bottom:$margin;
    background-color: $color--white;

    span {
        position: absolute;
        left:0;
        right:0;
        width:100%;
        padding-left:15px;
        top:18px;
        text-align: left;
        z-index:10;
        color:grey;
        font-size:16px;
        @include transition(all 0.1s ease);
    }

    input {
        float:left;
        width:100%;
        padding-top:20px;
        padding-bottom:10px;
        height:60px;
        background-color: transparent;
        position: relative;
        z-index:20;

        &:focus, 
        &.val-exists{
            background-color: transparent;

            + span {
                top:5px;
                padding-left:13px;
                font-size:10px;
                z-index:30;
            }
        } 
    }
}

// tooltips
// IMPORTANT: do not use on elements that have custom before and after styling
// .owl-tooltip {
//     &:before {
//         content: attr(data-tooltip-text);
//         position: absolute;
//         left: calc(100% + 5px);
//         top:50%;
//         height: 24px;
//         line-height: 15px;
//         padding:5px;
//         background-color:rgba(0,0,0, 0.8);
//         color:$color--white;
//         z-index:100;
//         font-size:12px;
//         //display: none;
//         @include border-radius(3px);
//         @include transform(translateY(-50%));
//         @include opacity(0);
//         @include transition(opacity 200ms ease 300ms);
//     }

//     &:hover {
//         &:before {
//             //display:block;
//             @include opacity(1);
//         }
//     }
// }